<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clock Settings</title>
    <script>
    const initial_data = {{}};
    </script>
  </head>
  <body>
    <h1>
      Helloe! This is clockky
    </h1>
    <form method="POST" action="">
      <fieldset>
        <legend>Wifi connection</legend>
        <div>
          <div>
            <label for="wifi_login">Wifi Login</label>
          </div>
          <input id="wifi_login" type="text" name="wifi_login" value="">
        </div>
        <div>
          <div>
            <label for="wifi_password">Wifi Password</label>
          </div>
          <input id="wifi_password" type="text" name="wifi_password" value="">
        </div>
      </fieldset>
      <br>
      <fieldset>
        <legend>Time</legend>
        <table>
          <tr>
            <td>
              <label for="time_hours">Hours</label>
            </td>
            <td>
              <label for="time_minutes">Minutes</label>
            </td>
          </tr>
          <tr>
            <td>
              <input id="time_hours" type="number" name="time_hours" value="" min="0" max="23">
            </td>
            <td>
              <input id="time_minutes" type="number" name="time_minutes" value="" min="0" max="59">
            </td>
          </tr>
        </table>
      </fieldset>
      <br>
      <fieldset>
        <legend>Alarm</legend>
        <table>
          <tr>
            <td>
              <label for="alarm_hours">Hours</label>
            </td>
            <td>
              <label for="alarm_minutes">Minutes</label>
            </td>
          </tr>
          <tr>
            <td>
              <input id="alarm_hours" type="number" name="alarm_hours" value="" min="0" max="23">
            </td>
            <td>
              <input id="alarm_minutes" type="number" name="alarm_minutes" value="" min="0" max="59">
            </td>
          </tr>
        </table>
      </fieldset>

      <script>
        function setTime() {
          const $time_hours = document.getElementById('time_hours');
          const $time_minutes = document.getElementById('time_minutes');
          const dd = new Date();
          
          const hours = dd.getHours();
          const minutes = dd.getMinutes();

          $time_hours.value = hours;
          $time_minutes.value = minutes;
        }

        setTime();
      </script> 

      <br>
      <fieldset>
        <legend>Timezone</legend>
        <select id="timezone" name="timezone">
	        <option  data-gmt-adjustment="GMT-12:00" data-use-daylight="0" value="-12">(GMT-12:00) International Date Line West</option>
	        <option  data-gmt-adjustment="GMT-11:00" data-use-daylight="0" value="-11">(GMT-11:00) Midway Island, Samoa</option>
	        <option  data-gmt-adjustment="GMT-10:00" data-use-daylight="0" value="-10">(GMT-10:00) Hawaii</option>
	        <option  data-gmt-adjustment="GMT-09:00" data-use-daylight="1" value="-9">(GMT-09:00) Alaska</option>
	        <option  data-gmt-adjustment="GMT-08:00" data-use-daylight="1" value="-8">(GMT-08:00) Pacific Time (US & Canada)</option>
	        <option  data-gmt-adjustment="GMT-07:00" data-use-daylight="1" value="-7">(GMT-07:00) Mountain Time (US & Canada)</option>
	        <option  data-gmt-adjustment="GMT-06:00" data-use-daylight="0" value="-6">(GMT-06:00) Saskatchewan</option>
	        <option  data-gmt-adjustment="GMT-05:00" data-use-daylight="1" value="-5">(GMT-05:00) Indiana (East)</option>
	        <option  data-gmt-adjustment="GMT-04:00" data-use-daylight="1" value="-4">(GMT-04:00) Santiago</option>
	        <option  data-gmt-adjustment="GMT-03:30" data-use-daylight="1" value="-3.5">(GMT-03:30) Newfoundland</option>
	        <option  data-gmt-adjustment="GMT-03:00" data-use-daylight="0" value="-3">(GMT-03:00) Buenos Aires, Georgetown</option>
	        <option  data-gmt-adjustment="GMT-02:00" data-use-daylight="1" value="-2">(GMT-02:00) Mid-Atlantic</option>
	        <option  data-gmt-adjustment="GMT-01:00" data-use-daylight="0" value="-1">(GMT-01:00) Cape Verde Is.</option>
	        <option  data-gmt-adjustment="GMT+00:00" data-use-daylight="1" value="0">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
	        <option  data-gmt-adjustment="GMT+01:00" data-use-daylight="1" value="1">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
	        <option  data-gmt-adjustment="GMT+02:00" data-use-daylight="1" value="2">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
	        <option  data-gmt-adjustment="GMT+03:00" data-use-daylight="1" value="3">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
	        <option  data-gmt-adjustment="GMT+03:30" data-use-daylight="1" value="3.5">(GMT+03:30) Tehran</option>
	        <option  data-gmt-adjustment="GMT+04:00" data-use-daylight="1" value="4">(GMT+04:00) Yerevan</option>
	        <option  data-gmt-adjustment="GMT+04:30" data-use-daylight="0" value="4.5">(GMT+04:30) Kabul</option>
	        <option  data-gmt-adjustment="GMT+05:00" data-use-daylight="1" value="5">(GMT+05:00) Yekaterinburg</option>
	        <option  data-gmt-adjustment="GMT+05:30" data-use-daylight="0" value="5.5">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
	        <option  data-gmt-adjustment="GMT+05:45" data-use-daylight="0" value="5.75">(GMT+05:45) Kathmandu</option>
	        <option  data-gmt-adjustment="GMT+06:00" data-use-daylight="1" value="6">(GMT+06:00) Almaty, Novosibirsk</option>
	        <option  data-gmt-adjustment="GMT+06:30" data-use-daylight="0" value="6.5">(GMT+06:30) Yangon (Rangoon)</option>
	        <option  data-gmt-adjustment="GMT+07:00" data-use-daylight="1" value="7">(GMT+07:00) Krasnoyarsk</option>
	        <option  data-gmt-adjustment="GMT+08:00" data-use-daylight="0" value="8">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
	        <option  data-gmt-adjustment="GMT+09:00" data-use-daylight="1" value="9">(GMT+09:00) Yakutsk</option>
	        <option  data-gmt-adjustment="GMT+09:30" data-use-daylight="0" value="9.5">(GMT+09:30) Adelaide</option>
	        <option  data-gmt-adjustment="GMT+10:00" data-use-daylight="1" value="10">(GMT+10:00) Vladivostok</option>
	        <option  data-gmt-adjustment="GMT+11:00" data-use-daylight="1" value="11">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
	        <option  data-gmt-adjustment="GMT+12:00" data-use-daylight="0" value="12">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
	        <option  data-gmt-adjustment="GMT+13:00" data-use-daylight="0" value="13">(GMT+13:00) Nuku'alofa</option>
        </select>
      </fieldset>
      <br>
      <div>
        <button type="submit">Save</button>
      </div>
    </form>

    <script>
      Object.keys(initial_data).forEach(key => {
        const $input = document.getElementById(key);
        if ($input) {
          $input.value = initial_data[key];
        }
      });
    </script>
  </body>
</html>
